---
import BaseLayout from './BaseLayout.astro';
import Nav from '@components/Nav.astro';
import Footer from '@components/Footer.astro';

interface Props {
    title: string;
    description: string;
    image?: string;
    url?: string;
    type?: 'website' | 'article' | 'project';
    publishedTime?: string;
    tags?: string[];
    technologies?: string[];
    projectUrl?: string;
}

const { title, description, image, url, type, publishedTime, tags, technologies, projectUrl } = Astro.props;
---

<BaseLayout
    {title}
    {description}
    {image}
    {url}
    {type}
    {publishedTime}
    {tags}
    {technologies}
    {projectUrl}
>
    <Nav />
    <main class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 pt-24 pb-8" transition:animate="fade">
        <slot />
    </main>
    <Footer />
</BaseLayout>
